<p>porcion-alimentos works!</p>

<p-toast></p-toast>

<div class="card">
    <button pButton type="button" label="Éxito" (click)="showSuccess()" class="p-button-success"></button>
    <button pButton type="button" label="Información" (click)="showInfo()" class="p-button-info"></button>
    <button pButton type="button" label="Advertencia" (click)="showWarning()" class="p-button-warning"></button>
    <button pButton type="button" label="Error" (click)="showError()" class="p-button-danger"></button>
    <button pButton type="button" label="Múltiples" (click)="showMultiple()" class="p-button-secondary"></button>
    <button pButton type="button" label="Limpiar" (click)="clearMessages()" class="p-button-outlined"></button>
</div>